<?xml version='1.0' encoding='utf-8'?>
<widget id="com.HIDNewProductApp.start" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
	<name>HID Product Solutions</name>
	<description>
		A product solutions application for HID Global an ASSA ABLOY company.
	</description>
	<author email="mmcwilliams@hidglobal.com" href="http://www.hidglobal.com">
		HID Global
	</author>
	<content src="index.html" />
	<access origin="*" />
	<icon src="www/res/icon.png" />
    <preference name="Fullscreen" value="true" />
	<preference name="SplashScreen" value="screen" />
	<preference name="SplashScreenDelay" value="10000" />
	<preference name="DisallowOverscroll" value="true" />
	<preference name="webviewbounce" value="false" />
    <preference name="Orientation" value="portrait" />
	<feature name="SocialSharing">
		<param name="ios-package" value="SocialSharing" />
		<param name="onload" value="true" />
	</feature>
	<plugins>
		<plugin name="EmailComposer" value="EmailComposer" />
		<plugin name="SocialSharing" value="SocialSharing" />
	</plugins>
</widget>
